<row class="article-row">
    <div class="columns">
        <div class="column">
        <strong>{{title}}</strong>
        <a href="{{href}}" alt="Link to article">
        </div>
        <div class="column">
        {{text}}
        </div>
        <div class="column">
        {{comment}}
        </div>
    </div>
</row>