html {
    display: contents;
    min-height: 100%;
    min-width: 100%;
    /* position: relative; */
}

body {
    height: 100%;
    width: 100%;
    background-color: lightgrey;
}

#main-title {
    font-size: 150%;
}

.v-article-row {
    margin-top: 1%;
    margin-bottom: 1%;
    padding-bottom: 1%;
    border-color: darkgreen;
    border-style: solid;
}

.v-text-container {
    overflow: auto;
    height: 300px;
    color: black;
}

.v-edit-icon {
    height: 10%;
    width: 10%;
    float: top;
}

.v-comment-row {
    border-color: lightblue;
    border-style: solid;
}

.v-comment-text {
    display: inline;
}