html {
    display: contents;
    min-height: 100%;
    min-width: 100%;
    /* position: relative; */
}

body {
    height: 100%;
    width: 100%;
}

#main-section{
    height: 100%;
    width: 100%;
    padding-top: 8%;
    padding-right: 2%;
}

#main-container{
    height: 100%;
    width: 100%;
}

#item-container {
    overflow: scroll;
    height: 100%;
}